.head {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-color: #ffc0cb;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
}
.head .ear {
    background-color: #ffc0cb;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 200px;
}

.head .ear:first-child{
    position: absolute;
    left: 10px;
    z-index: -1;
}
.head .ear:last-child {
    position: absolute;
    right: 10px;
    z-index: -1;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: #fff;
    right: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
}
.eye:first-child {
    position: absolute;
    top: 40px;
    left: 30px;
}
.eye:last-child {
   position: absolute;
    top: 40px;
    right: 30px;
}
.pupil {
    width: 25px;
    height: 25px;
    background: black;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
}
.nose {
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    border-radius: 35%;
    background-color: #f57187;
    border: 2px solid black;
    margin: 0 auto;
    left: 50px;
}
.nose .nostril {
    width: 25px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    background-color: black;
}
.nostril:first-child {
    position: absolute;
    top: 15px;
    left: 10px;
}
.nostril:last-child {
    position: absolute;
    top: 15px;
    right: 10px;
}